body {
  margin: 0;
}
.main-body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  padding-left: 3%;
  padding-right: 3%;
}
.header {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  overflow: hidden;
  width: 100%;
  background-color: rgb(210, 0, 63);
  color: white;
  text-align: center;
  transition: top 1s;
}
.footer {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  overflow: hidden;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.wrapper {
  height: 300px;;
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
.wrapper:before, .wrapper:after{
  content:"";
  position: absolute;
  height: 200px;
  width: 100px;
  z-index: 2;
}
.wrapper:before {
  left: 0;
  top: 0;
}
.wrapper:after {
  right: 0;
  top: 0;
}
.wrapper .track {
  display:flex;
  width: 1000px;
  height: 200px;
  animation: scroll 60s 0.5s linear infinite
}


@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-164.5vw);
  }
}

h1 {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-size: 33pt;
}
h2 {
  font-size: 2.1vw;
}
h3 {
  font-size: 1.5vw;
}
p {
  font-size: 1.11vw;
}

a.menu:link, a.menu:visited, a.menu:hover, a.menu:active {
  color: rgb(0, 0, 0);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: transparent;
  text-decoration: underline;
}
a.bt-links:link, a.bt-links:visited, a.bt-links:hover, a.bt-links:active {
  color: rgb(255, 255, 255);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: transparent;
  text-decoration: underline;
}

a.donate:link, a.donate:visited {
  background-color: #4ab8f8;
  color: rgb(0, 0, 0);
  font-size: 20pt;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.donate:hover, a.donate:active {
  color: white;
  font-size: 20pt;
  background-color: rgb(31, 141, 205);
}

a.donate-amuka:link, a.donate-amuka:visited {
  background-color: #f02222;
  color: rgb(0, 0, 0);
  font-size: 20pt;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.donate-amuka:hover, a.donate-amuka:active {
  color: white;
  font-size: 20pt;
  background-color: rgb(203, 46, 46);
}


table {
  font-family: arial, sans-serif;
  font-size: 13pt;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  padding: 8px;
  background-color: rgb(153, 223, 153);
}
tr {
  border: solid green;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 3px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  min-width: 100%;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: rgb(33, 170, 33);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

section {
  display: -webkit-flex;
  display: flex;
}
article {
  -webkit-flex: 0;
  -ms-flex: 0;
  flex: 20;
  padding: 0px;
}
aside {
  -webkit-flex: 0;
  -ms-flex: 0;
  flex: 10.7;
  padding: 0px;
}
#nav-icon {
  padding-left: 10px;
  padding-top: 2px;
  border-radius: 5px;
  background-color: rgb(210, 0, 63);
  position: fixed;
  bottom: 45%;
  right: -105%;
  width: 100%;
  display: block;
  transition: right 0.5s;
}

#nav-icon a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

.container {
  display: inline-block;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
  border-radius: 1px;
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.5s;
}

.bar-change .bar1 {
  transform: translate(0, 10.9px) rotate(-45deg);
}

.bar-change .bar2 {opacity: 0;}

.bar-change .bar3 {
  transform: translate(0, -10.9px) rotate(45deg);
}

.side-nav {
  border-radius: 5px;
  height: 40%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 30%;
  right: 0;
  background-color: rgb(210, 0, 63);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 2%;
}

.side-nav a {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
  font-size: 22px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  padding-right: 5px;
}
.side-nav ul {  
  list-style-type: none;
}

.side-nav a:hover {
  color: rgb(162, 162, 162);
}

