body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.about {
  margin: 0;
}
.main-body {
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  padding-left: 3%;
  padding-right: 3%;
}
.header {
  overflow: hidden;
  width: 100%;
  background-color: rgb(74, 124, 74);
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header-content article {
  float: left;
}
.header-content aside {
  position: relative;
  top: calc(2.8vw - 10px);
  right: 15px;
  float: right;
}
.footer {
  overflow: hidden;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.wrapper {
  height: 20vw;;
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
.wrapper:before, .wrapper:after{
  content:"";
  position: absolute;
  height: 15vw;
  width: 100px;
  z-index: 2;
}
.wrapper:before {
  left: 0;
  top: 0;
}
.wrapper:after {
  right: 0;
  top: 0;
}
.wrapper .track {
  display:flex;
  width: 1000px;
  height: 15vw;
  animation: scroll 60s 0.5s linear infinite
}
.logo {
  max-width: 30vw;
  height: 15vw;
}


@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-164.5vw);
  }
}

h1 {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-size: 33pt;
}
h2 {
  font-size: 26pt;
}
h3 {
  font-size: 18pt;
}
h4 {
  font-size: 15pt;
}
p {
  font-size: 14pt;
}

#menu {
  width: 100%;
  text-align: center;
  background-color: rgb(102, 176, 102);
}
.menu {
  font-size: 15pt;
  width: 19vw;
  text-align: center;
  background-color: rgb(102, 176, 102);
  color: rgb(0, 0, 0);
  padding-top: 25px;
  padding-bottom: 25px;
  text-decoration: none;
  display:inline-block;
}
.menu:hover {
  background-color: rgb(137, 209, 137);
}

.dropdown-content a {
  font-size: 14pt;
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
  border-radius: 2px;
  transition: 0.2s;
}

.dropdown-content a:hover {
  background-color: rgb(137, 209, 137);
  color: #000000;
}
#dropdown:hover .dropdown-content {
  display: block;
}
#dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

a.bt-links:link, a.bt-links:visited, a.bt-links:hover, a.bt-links:active {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: underline;
}

a.donate:link, a.donate:visited {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 50%;
  background-color: rgb(230, 55, 87);
  color: rgb(0, 0, 0);
  font-size: 20pt;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.donate:hover, a.donate:active {
  color: white;
  font-size: 20pt;
  background-color: rgb(195, 26, 57);
}

#dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  text-align: center;
  font-size: 13pt;
  width: 20vw;
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 2px;
  z-index: 1;
}

.media {
  display: -webkit-flex;
  display: flex;
}
.media article {
  -webkit-flex: 0;
  -ms-flex: 0;
  flex: 3;
  padding: 0px;
}
.media aside {
  -webkit-flex: 0;
  -ms-flex: 0;
  flex: 10%;
  padding: 0px;
  max-height: 634px;
}
#nav-icon {
  padding-left: 10px;
  padding-top: 2px;
  border-radius: 5px;
  background-color: rgb(74, 124, 74);
  position: fixed;
  bottom: 45%;
  right: -105%;
  width: 100%;
  display: block;
  transition: right 0.5s;
}

#nav-icon a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

.container {
  display: inline-block;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
  border-radius: 0.5px;
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.5s;
}
.bar4, .bar5 {
  border-radius: 1px;
  width: 25px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.5s;
}

.bar-change .bar1 {
  transform: translate(0, 10.9px) rotate(-45deg);
}
.bar-change .bar2 {
  opacity: 0;
}
.bar-change .bar3 {
  transform: translate(0, -10.9px) rotate(45deg);
}

.arrow-loader .bar4 {
  transform: translateX(11px) translateY(7px) rotate(40deg);
}
.arrow-loader .bar5 {
  transform: translateX(11px) translateY(10px) rotate(-40deg);
}

.arrow-switch .bar4 {
  transform: translateX(445px) translateY(7px) rotate(-40deg);
}
.arrow-switch .bar5 {
  transform: translateX(445px) translateY(10px) rotate(40deg);
}

.side-nav {
  border-radius: 5px;
  height: 45%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 28%;
  right: 0;
  background-color: rgb(74, 124, 74);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 2%;
}

.side-nav a {
  text-decoration: none;
  font-size: 22px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  padding-right: 5px;
}
.side-nav ul {  
  list-style-type: none;
}

.side-nav a:hover {
  color: rgb(180, 180, 180);
}

#socials {
  position: absolute;
  border-radius: 5px;
  height: 45px;
  opacity: 0;
  width: 0;
  z-index: 1;
  background-color: rgb(74, 124, 74);
  overflow-x: hidden;
  transition: 0.5s;
  padding-left: 5px;
}
#arrow-icon {
  position: absolute;
  border-radius: 3px;
  background-color: rgb(74, 124, 74);
  width: 45px;
  height: 45px;
  display: block;
  transition: 0.5s;
}

#utcr-logo {
  position: relative;
  left: 20%;
}
#amuka-logo {
  position: absolute;
  right: 20%;
}

#utcr-logo {
  position: relative;
  left: calc(22% - 50px);
  height: 8vw;
  width: auto;
}
#amuka-logo-home {
  position: absolute;
  left: calc(50% - 100px);
  height: 8vw;
  width: auto;
}

#contacts {
  position: relative;
  text-align: left;
  left: calc(50vw - 310px);
}
#contact-us {
  position: relative;
  text-align: left;
  left: calc(50vw - 310px);
}

